@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    --primary: 165, 180, 252; /* indigo-300 */
    --secondary: 129, 140, 248; /* indigo-400 */
    --tertiary: 199, 210, 254; /* indigo-200 */

    --cta: 147, 51, 234;
    --border: 99, 102, 241; /* indigo-500 */

    --light: 224, 231, 255; /* indigo-100 */
    --dark: 0, 0, 0; /* black */

    --background: 17, 24, 39; /* bg-gray-900 */
    --background-hover: 31, 41, 55; /* bg-gray-800 */
}

.light {
    --primary: 55, 48, 163; /* indigo-800 */
    --secondary: 49, 46, 129; /* indigo-900 */
    --tertiary: 67, 56, 202; /* indigo-700 */

    --cta: 147, 51, 234;
    --border: 99, 102, 241; /* indigo-500 */

    --light: 224, 231, 255; /* indigo-100 */
    --dark: 0, 0, 0; /* black */

    --background: 243, 244, 246; /* bg-gray-100 */
    --background-hover: 229, 231, 235; /* bg-gray-200 */
}

.bg-gradient {
    background: rgba(var(--background), 1);
    background: linear-gradient(to bottom, rgba(var(--background), 1), transparent);
}

.image-bg-gradient {
    background: linear-gradient(to top, rgba(var(--background), 0.8), transparent);
}
